*.log
*.pot
*.pyc
__pycache__/
todowooo/__pycache__/
applications/todo/migrations/
applications/todo/__pycache__/
db.sqlite3
*.sqlite3
.sqlite3
/collected_static/
.DS_Store
*.DS_Store
applications/.DS_Store
applications/todo/.DS_Store